/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.7.2018, 3:00:43
    Author     : Jussi
*/

.root {
    -fx-background-image: url("light.jpg");
}


.button {
    -fx-background-color: whitesmoke;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.button:hover {
    -fx-background-color: mintcream;
    -fx-color: white;
    -fx-border-color:black;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;;
}
.tab{
    -fx-background-color: whitesmoke;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}
.tab:hower{
    -fx-background-color: mintcream;
    -fx-color: white;
    -fx-border-color:black;
}
.combo-box{
    -fx-font-family: "Serif";
    -fx-background-color: whitesmoke;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.combo-box:hover {
    -fx-background-color: mintcream;
    -fx-color: white;
    -fx-border-color:black;
}
.choice-box{
    -fx-font-family: "Serif";
    -fx-background-color: whitesmoke;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.choice-box:hover {
    -fx-background-color: mintcream;
    -fx-color: white;
    -fx-border-color:black;
}
.text-field{
    -fx-background-color: whitesmoke;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.text-field:hover {
    -fx-background-color: mintcream;
    -fx-color: white;
    -fx-border-color:black;
}
.text-area{
    -fx-background-color: whitesmoke;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;

}


